/**
 * CSS solo per schermi.
 */

@font-face {
  font-family: 'KomikaDisplay';
  src: url('fonts/komikadisplay.eot');
  src: url('fonts/komikadisplay.eot?iefix') format('embedded-opentype'),
  url('fonts/komikadisplay.woff') format('woff'),
  url('fonts/komikadisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KomikaDisplay';
  src: url('fonts/komikadisplay-bold.eot');
  src: url('fonts/komikadisplay-bold.eot?iefix') format('embedded-opentype'),
  url('fonts/komikadisplay-bold.woff') format('woff'),
  url('fonts/komikadisplay-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AutourOne';
  src: url('fonts/autourone.eot');
  src: url('fonts/autourone.eot?iefix') format('embedded-opentype'),
  url('fonts/autourone.woff') format('woff'),
  url('fonts/autourone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Otari';
  src: url('fonts/otari-bold.eot');
  src: url('fonts/otari-bold.eot?iefix') format('embedded-opentype'),
  url('fonts/otari-bold.woff') format('woff'),
  url('fonts/otari-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@media only screen {

  * {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  html {
    background-color: #8c9c9a;
  }

  body {
    font-family: AutourOne, Georgia, serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  /**
   * CLASSES
   */
  .downside-shadow {
    box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.5);
  }

  .diffused-shadow {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  }

  .upside-shadow {
    box-shadow: 0px -8px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -8px 10px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -8px 10px -3px rgba(0,0,0,0.5);
    -ms-box-shadow: 0px -8px 10px -3px rgba(0,0,0,0.5);
  }

  .hide-overflow {
    overflow: hidden;
  }

  /**
   * WRAPPER
   */
  #wrapper {
    width: 960px;
    /*min-height: 1000px;*/
    margin: 0px auto;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px 3px rgba(40,60,79,0.8); /* #283c4f */
    -moz-box-shadow: 0px 0px 10px 3px rgba(40,60,79,0.8);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(40,60,79,0.8);
    -ms-box-shadow: 0px 0px 10px 3px rgba(40,60,79,0.8);
  }

  /**
   * HEADER
   */
  header {
    height: 250px;
    padding-top: 5px;
    background-image: url('../img/header-background.png');
    background-repeat: no-repeat;
  }

  #logo {
    float: left;
    width: 320px;
    height: 200px;
  }

  #logo img {
    float: right;
    z-index: 10;
    width: 250px;
    height: 235px;
    margin: 5px 20px 0px 0px;
  }

  hgroup {
    font-family: KomikaDisplay, Arial, sans-serif;
    color: red;
    float: right;
    width: 640px;
    height: 200px;
  }

  #title {
    height: 100px;
    margin-left: 10px;
    font-size: 2.75rem;
    font-weight: bold;
    letter-spacing: 5px;
  }

  #subtitle {
    height: 100px;
    margin-left: 10px;
    font-size: 1.25rem;
    font-variant: small-caps;
    letter-spacing: 1px;
  }

  /**
   * MENU
   */
  .menu-current {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
  }

  nav {
    clear: both;
    height: 50px;
    background-color: #204b75;
    text-transform: uppercase;
  }

  #nav-first {
    padding-left: 320px;
    line-height: 50px;
  }

  #nav-first li {
    display: block;
    position: relative;
    float: left;
    list-style: none;
    font-size: 1.25rem;
  }

  #nav-first > li {
    margin: 0px 5px;
  }

  #nav-first a {
    display: block;
    padding: 0px 7.5px;
    color: #f2f2f2;
  }

  #nav-first a:hover {
    color: #e77a71;
    cursor: pointer;
  }

  #nav-first a:hover, .menu-current {
    background-color: #51799f; 
  }

  /** SECOND LEVEL **/

  #nav-second {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
    opacity: 0;
    background-color: #163451;
  }

  #nav-first > li:hover ul {
    opacity: 1;
  }

  #nav-second a {
    min-width: 184px;
  }

  /**
   * BUTTONS
   */
  #buttons-home {
    clear: both;
    height: 290px;
    background-image: url('../img/buttons-background.png');
  }

  #button-left-home, #button-right-home {
    font-family: Otari, Verdana, serif;
    text-align: center;
    width: 340px;
    height: 197px;
    margin: 50px 0px 43px 0px;
    cursor: pointer;
  }

  #button-left-home {
    float: left;
    margin-left: 100px;
    background-image: url('../img/button-left-cloud.png');
    background-repeat: no-repeat;
  }

  #button-left-home:hover {
    background-image: url('../img/button-left-cloud-hover.png');   
  }

  #button-right-home {
    float: right;
    margin-right: 100px;
    background-image: url('../img/button-right-cloud.png');
  }

  #button-right-home:hover {
    background-image: url('../img/button-right-cloud-hover.png');   
  }

  #buttons-home h1, #buttons-home p {
    position: relative;
    height: 50%;
  }

  #buttons-home h1 {
    top: 37%;
    color: #ff0000;
    font-size: 2.375rem;
  }

  #buttons-home p {
    top: 12.5%;
    color: #51788f;
    font-size: 1.125rem;
  }

  #button-left-home h1, #button-left-home p {
    left: -6%;
  }

  #button-right-home h1, #button-right-home p {
    right: -6%;
  }

  /**
   * CONTENT
   */
  .content-title {
    display: block;
    padding: 7.5px;
    color: #f2f2f2;
    background-color: #204b75;
    transform: scale(1,1);
  }

  .content-title h1 {
    font-size: 1.75rem;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .content-par {
    display: block;
    padding: 12.5px 20px;
    color: #f2f2f2;
    background-color: #51799f;
  }

  .content-par p, .content-par li {
    margin-bottom: 25px;
    font-size: 0.875rem;
    font-weight: lighter;
    line-height: 1.5;
  }

  .content-par li {
    padding-left: 30px;
    list-style: none;
    background-image: url('../img/bullet.svg');
    background-size: 1em;
    background-repeat: no-repeat;
  }

  .content-par strong {
    font-weight: normal;
    color: #f5d973;
  }

  .content-par a {
    color: #e77a71;
    border-bottom: 1.3px dotted #e77a71;   
  }

  #page-title {
    margin: 30px 0px 30px 50px;
    color: #204b75;
    font-size: 1.75rem;
    font-weight: lighter;
    text-transform: uppercase;
  }

  #abstract {
    margin: 0px 50px 40px 50px;
  }

  #abstract p {
    margin-bottom: 20px;
    color: #204b75;
    font-size: 1.20rem;
    line-height: 1.5;
  }

  /** FORM **/

  .container-field {
    height: 30px;
    line-height: 30px;
  }

  .form-labels {
    width: 40%;
    float: left;
  }

  .form-fields {
    width: 60%;
    float: right;
  }

  .form-fields input:not([type='radio']), .form-fields textarea {
    width: 300px;
    padding: 3px;
  }

  .form-fields input[type='radio'] {
    display: inline-block;
    margin-right: 20px;
  }

  .form-fields textarea {
    height: 100px;
  }

  /** HOME **/

  .content-par-home {
    min-height: 330px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-par-home li {
    padding-left: 20px;
  }

  #sections-home {
    clear: both;
  }

  #content-right-home, #content-center-home, #content-left-home {
    display: inline-block;
    width: 33%;
  }

  #content-right-home {
    margin-left: 0.25%;
    float: right;
  }

  #content-left-home {
    margin-right: 0.25%;
    float: left;
  }

  #content-center-home {
    margin: auto 0.25%;
  }

  /** EVENTS **/

  #content-top-events, #content-bottom-events {
    margin: 0px 50px 50px 50px;
  }

  #content-top-events p, #content-bottom-events p {
    font-size: 1.25rem;
  }

  #content-top-events img {
    margin: 5px 15px 5px 5px;
    float: left;
  }

  #content-bottom-events img {
    margin: 5px 5px 5px 15px;
    float: right;
  }

  /** ACTIVIES **/

  #selector-activities {
    margin: 0px 50px 50px 50px;
  }

  #selector-activities ul {
    margin-bottom: 20px;
    list-style: none;
  }

  #selector-activities li, #selector-activities a {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
  }

  #selector-activities li {
    width: 171px;
    float: left;
    margin: 0px 0.5px;
    background-color: #204b75;
    text-align: center;
  }

  #selector-activities a {
    display: block;
    padding: 7.5px 0px;
    color: #f2f2f2;
  }

  #selector-activities a:hover {
    color: #f5d973;
    background-color: #51799f;
  }

  .selector-current {
    background-color: #51799f;
  }

  #years-activities {
    clear: both;
    padding: 12.5px 10px;
    color: #f2f2f2;
    background-color: #204b75;
  } 

  #years-activities p {
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5;
  }

  #years-activities strong {
    font-weight: normal;
    color: #f5d973;
  }

  #years-activities > div {
    width: 50%;
  }

  #years-activities > div:first-child {
    float: left;
    text-align: center;
  }

  #years-activities > div:first-child > img {
    margin-bottom: 20px;
  }

  #years-activities > div:last-child {
    float: right;
  }

  #content-2002, #content-2001, #content-2000, #content-1999, #content-1998 {
    display: none;
  }

  /** DONATE **/

  #content-top-donate, #content-bottom-donate {
    margin: 0px 50px 50px 50px;
  }

  #iban-contacts {
    display: block;
    margin: 10px 0px;
    font-size: 1.75rem;
    text-align: center;
  }

  #content-top-donate p, #content-bottom-donate p, #content-top-donate li, #content-bottom-donate li {
    font-size: 1.25rem;
  }

  /** BECOME VOLUNTEER **/

  #decalogue-become-volunteer {
    display: none;
    margin: 0px 200px 50px 200px;
    font-family: Otari, Verdana, serif;
  }

  #decalogue-become-volunteer p {
    margin-bottom: 25px;
    color: #204b75;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  #form-become-volunteer {
    margin: 0px 50px 50px 50px;
    padding: 20px;
    color: #f2f2f2;
    background-color: #204b75;
    font-size: 1.20rem;
    font-weight: lighter;
    font-variant: small-caps;
  }

  #form-become-volunteer h1 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  #form-become-volunteer h1:not(:first-child) {
    margin-top: 25px;
  }

  #form-labels-fields {
    width: 550px;
    margin-right: 20px;
    float: left;
  }

  #form-photo {
    width: 230px;
    margin-left: 10px;
    float: right;
  }

  #form-photo > div {
    width: 230px;
    height: 230px;
    margin: 10px 0px 20px 0px;
    background-color: #bbbbbb;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
  }

  #form-photo input[type='file'] {
    display: none;
  }

  #form-photo-span {
    display: block;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #51799f;
    font-size: 1.25em;
    font-variant: normal;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  #form-photo-span:hover {
    color: #e77a71;
  }

  #form-submit {
    clear: both;
    width: 550px;
  }

  #form-submit button[type='reset'] {
    margin: 20px 0px 0px 40%;
    padding: 10px 30px;
    float: left;
    color: #f2f2f2;
    background-color: #51799f;
    font-family: AutourOne, Georgia, serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  #form-submit button[type='reset']:hover {
    color: #e77a71;
  }

  #form-submit button[type='submit'] {
    margin: 20px 24px 0px 0px;
    padding: 10px 30px;
    float: right;
    color: #f2f2f2;
    background-color: #51799f;
    font-family: AutourOne, Georgia, serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  #form-submit button[type='submit']:hover {
    color: #e77a71;
  }

  /** CONTACTS **/

  .content-par-contacts p, .content-par-contacts li {
    font-size: 1.25rem;
  }

  .content-par-contacts p {
    margin-top: 5px;
  }

  .content-par-contacts li {
    margin-bottom: 10px;
  }

  .content-par-contacts li:last-child {
    margin-bottom: 25px;
  }

  #content-top-contacts, #content-bottom-contacts {
    width: 565px;
    margin: 0px 25px 50px 50px;
    float: left;
  }

  #content-bottom-contacts {
    clear: left;
  }

  #content-bottom-contacts p {
    font-size: 1.25rem;
  }

  #content-right-contacts {
    width: 245px;
    margin: 0px 50px 50px 25px;
    float: right;
  }

  #content-right-contacts iframe {
    width: 205px;
    height: 500px;
  }

  #content-bottom-contacts button[type='submit'] {
    margin: 5px 0px 10px 0px;
    padding: 5px 10px;
    color: #f2f2f2;
    background-color: #204b75;
    font-family: AutourOne, Georgia, serif;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  #content-bottom-contacts button[type='submit']:hover {
    color: #e77a71;
  }

  /**
   * FOOTER
   */
  footer {
    clear: both;
    height: 50px;
    color: #f2f2f2;
    background-color: #204b75;
    text-align: center; 
    line-height: 50px;
    font-size: 0.8125rem;
    transform: scale(1,1);
  }

  footer a {
    border-bottom: 1.3px dotted #f2f2f2;
  }

  footer a:hover {
    color: #e77a71;   
    border-bottom: 1.3px dotted #e77a71;
  }

  /**
   * SCROLL TO TOP
   */
  #scroll-to-top {
    z-index: 100;
    display: none;
    width: 150px;
    height: 96px;
    position: fixed;
    bottom: -10px;
    right: -25px;
    color: #f2f2f2;
    background-image: url('../img/scroll-to-top.png');
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #scroll-to-top:hover {	
    color: #e77a71;
    background-image: url('../img/scroll-to-top-hover.png');
  }

  #scroll-to-top p {
    height: 50%;
    position: relative;
    top: 30%;
    font-size: 1.25rem;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }

  #scroll-to-top p:last-child {
    top: 10%;
  }

}
